.style-switcher {
    position: fixed;
    right: 0;
    top: 77px;
    padding: 15px;
    width: 200px;
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.style-switcher.open {
    transform: translateX(-15px);
}

.style-switcher .s-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    color: var(--text-black-900);
    right: 100%;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.style-switcher .s-icon i {
    line-height: 40px;
}

.style-switcher .s-icon::after {
    border-radius: 50%;
}

.style-switcher .style-switcher-toggler {
    top: 20px;
}

.style-switcher .day-night {
    top: 70px;
}

.style-switcher h4 {
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-style: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.style-switcher h4.sm {
    padding-top: 5px;
}

.style-switcher .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-switcher .colors span {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 5px;
}

.style-switcher .colors span::after {
    border-radius: 50%;
}

.style-switcher .color-1 {
    background-color: #d9596d;
}
.style-switcher .color-2 {
    background-color: #ec9412;
}
.style-switcher .color-3 {
    background-color: #1fc586;
}
.style-switcher .color-4 {
    background-color: #8a49ff;
}
.style-switcher .color-5 {
    background-color: #DC143C;
}
.style-switcher .color-6 {
    background-color: #84DE02;
}
.style-switcher .color-7 {
    background-color: #FF85CF;
}
.style-switcher .color-8 {
    background-color: #00bfff;
}
.style-switcher .color-9 {
    background-color: #fe4b03;
}
.style-switcher .color-10 {
    background-color: #ff7855;
}

.style-switcher .social-links-sw {
    margin-top: 10px;
    text-align: center;
}

.style-switcher .social-links-sw a {
    display: inline-block;
    height: 35px;
    width: 35px;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    color: var(--text-black-600);
    margin: 0 2px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.style-switcher .social-links-sw a::after {
    border-radius: 50%;
}

.style-switcher .social-links-sw a:hover {
    color: var(--skin-color);
}
